$size: 14;
.info-wrap{
  display: flex;
  justify-content: center;
}
.info-box{
  position: fixed;
  z-index: 999;
  padding: 10px;
  width: 400px;
  overflow: hidden;
  transition: all .5s;
  top: 24px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
  & > i{
    font-size: $size+4+px;
  }
  & > div{
    margin-left: 3px;
    font-size: $size+px;
  }
  &-default{
    background-color: #d2ebfd;
    color: #999;
  }
  &-success{
    background-color: #d3f8c6;
    color: #1fb900;
  }
  &-fail{
    background-color: #ffd2d2;
    color: #f55151;
  }
  &-warning{
    background-color: #fff1c3;
    color: #e2ad00;
  }
}